# LaTeX misc files
*.out
*.aux
*.log
*.gz

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Misc
*~
/.Rhistory
**/SF2565_P1_IH_AK/
**/SF2565_P2_IH_AK/
**/SF2565_P3_IH_AK/
/project2/19ways+.pdf
/project2/project2.pdf
/project2/r8lib.cpp
/project2/r8lib.h
/project2/r8mat_expm1.cpp
/project2/r8mat_expm1.h
/project3/p3
/project3/p3_output.txt
